---
---

$base-unit: 1em

$header-font: 'Myriad Pro', Helvetica, Arial, sans-serif
$paragraph-font: Georgia, 'Times New Roman', Times, serif

$black: #333332
$blue: #036
$white: #FFF
$red: #F60
$dark-red: darken($red, 20%)
$light-red: lighten($red, 20%)
$grey: lighten($black, 50%)
$dark-grey: darken($grey, 30%)
$light-grey: lighten($grey, 25%)

$bp-medium : 43.75em
$bp-large : 56.25em
$bp-extra-large : 88em

body
  color: $black
  font-family: $paragraph-font
  font-size: $base-unit
  line-height: $base-unit * 1.25

.container
  padding-left: 3%
  padding-right: 3%

header
  background: $light-red
  overflow: hidden
  padding-top: $base-unit
  padding-bottom: $base-unit
  text-align: center

header p
  font-style: italic

aside
  display: none

footer
  color: $black
  font-size: $base-unit * 0.75
  text-align: center
  margin-top: $base-unit
  margin-bottom: $base-unit

h1, h2, h4
  font-family: $header-font
  font-weight: bold

h1 a
  color: $black

h1
  font-size: $base-unit * 2
  line-height: $base-unit * 1.25

h2
  font-size: $base-unit * 1.625
  line-height: $base-unit * 1.15384615

h4
  font-size: $base-unit * 1.125
  line-height: $base-unit * 1.11111111
  padding-top: $base-unit * 2

p
  padding-top: $base-unit

a
  color: $light-red
  text-decoration: none
  &:hover
    color: $dark-red

article
  margin: $base-unit * 2 0

  .footer
    text-align: right
    width: 100%
    padding-bottom: $base-unit

.meta-data
  color: $grey
  font-size: $base-unit * 0.75
  a
    color: $grey
    &:hover
      color: $dark-grey

.read-more
  display: block

.donations
  padding-top: $base-unit * 2
  padding-bottom: $base-unit
  text-align: left
  border-top: 1px solid $grey
  background: $light-grey

.donation-buttons
  margin: $base-unit 0

.pair-of-buttons
  margin-bottom: 2px
  overflow: hidden

.pair-of-buttons a
  display: block
  font-family: $header-font
  float: left
  margin-left: 1%
  padding: $base-unit * 0.5 0
  text-align: center
  text-decoration: none
  width: 49.5%
  &:nth-child(2n + 1)
    margin-left: 0

figure
  padding-top: $base-unit

.avatar, figcaption
  display: inline-block
  box-sizing: border-box
  vertical-align: middle

.avatar
  border: 0
  border-radius: 10%
  width: 50px

figcaption
  margin-right: 0.375em

  p
    padding: 0
    font-style: normal

@media all and (min-width: $bp-medium)

  .container
    padding-left: 6%
    padding-right: 6%

@media all and (min-width: $bp-large)

  body
    font-size: $base-unit * 1.1
    line-height: $base-unit * 1.375

  .container
    padding-left: 5%
    padding-right: 5%

  h1
    font-size: $base-unit * 2.5
    line-height: $base-unit * 1.125

  h2
    font-size: $base-unit * 2
    line-height: $base-unit * 1.25

  h4
    font-size: $base-unit * 1.125
    line-height: $base-unit * 1.22222222

  header
    display: block
    text-align: normal

  .sub-title
    width: 100%

  .container, footer
    max-width: $base-unit * 40
    width: 70%
    margin-left: auto
    margin-right: auto

@media all and (min-width: $bp-extra-large)

  body
    line-height: $base-unit * 1.375

  h1
    font-size: $base-unit * 2.5
    line-height: $base-unit * 1.125

  h2
    font-size: $base-unit * 2
    line-height: $base-unit * 1.25

  h4
    font-size: $base-unit * 1.125
    line-height: $base-unit * 1.22222222
