---
layout: default
title: About software
---

{% for post in site.posts %}
%article{class: "{{ post.type}}" }
  %h1
    %a{href: "{{ post.url }}"} {{ post.title }}
  %p
    %a{href: "/{{post.type}}"} {{ post.human_type }}
    \-
    {{ post.date | date: "%A %d %B %Y" }}
  %div
    {{ post.excerpt}}
{% endfor %}
