---
layout: default
title: About software
---
{% for post in site.posts %}
%article{class: "{{ post.type}}" }
  %h2 {{ post.title }}
  .content
    {{ post.excerpt}}
  .footer
    %p.meta-data
      %a{href: "/{{post.type}}"} {{ post.human_type }}
      \|
      {{ post.date | date: "%d %B %Y" }}
      \|
      {{post.estimated_time}}
    %a.read-more{href: "{{post.url}}"} Continue reading →
{% endfor %}
