---
layout: default
title: Alberto Peña Abril
---
.home
  #current.post
    %ul
      {% for post in site.posts %}
      %li#post.post
        %h1
          %a{href: "{{ post.url }}"} {{ post.title }}
        .strap
          Alberto Peña Abril • {{ post.date | date: "%A %d %B %Y" }}
        %div
          {{ post.excerpt}}
          %a{href: "{{ post.url }}"} Read more
      {% endfor %}
