<div class="container">
  <h2>Donate!</h2>
  <p>Please, consider making a donation to any charity.</p>
  <p>There are a lot of problems in the world and this is probably the easiest way to help fix them.</p>
  <p>Here you have some options:</p>
  <div class="donation-buttons">
    <div class="pair-of-buttons">
      <a href="https://secure.greenpeace.org.uk/page/contribute/greenpeace-generic/donate/">Greenpeace</a>
      <a href="http://www.oxfam.org.uk/donate">Oxfam</a>
    </div>
    <div class="pair-of-buttons">
      <a href="http://www.unicef.org.uk/Donate/donate-now/">Unicef</a>
      <a href="https://www.google.co.uk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=donate&safe=off">Any other</a>
    </div>
  </div>
</div>
