!!!
%html
  %head
    %meta{'http-equiv' => "content-type", content: "text/html; charset=utf-8"}
    %title {{ page.title }}
    %meta{name: "author", content: "Alberto Peña Abril"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel:"shortcut icon", href:"/images/favicon.ico"}

    <!-- Homepage CSS -->
    %link{rel: "stylesheet", href: "/css/reset.css", type: "text/css", media: "screen, projection"}
    %link{rel: "stylesheet", href: "/css/main.css", type: "text/css", media: "screen, projection"}

    %link{href: "http://plagelao.github.com/atom.xml", rel: "alternate", title: "Alberto Peña Abril", type: "application/atom+xml"}
    <!-- Google analytics -->
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11305746-3']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
  %body
    %header
      %h1
        %a{href: "/"} [Not only] Software
      %p.sub-title Opinionated articles about interesting topics
    %aside
      %h4 Who writes this stuff?
      %figure
        %figcaption
          %p Alberto Peña Abril
          %a{href: 'twitter.com/plagelao'} @plagelao
        %img.avatar{src: "/images/portrait.png"}
      {% include donations.html %}
    .container
      {{ content }}
    {% include donations.html %}
    %footer
      plagelao &copy; 2014
