<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <title>{{ page.title }}</title>
    <meta content='Alberto Peña Abril' name='author'>
    <!--link rel="shortcut icon" href="/favicon.ico" /-->
    <!-- Homepage CSS -->
    <link href='/css/reset.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='/css/main.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='http://plagelao.github.com/atom.xml' rel='alternate' title='Alberto Peña Abril' type='application/atom+xml'>
    <!-- Google analytics -->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11305746-3']);
      _gaq.push(['_trackPageview']);
      
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body>
    <header>
      <div class='title'>
        <h1>
          <a href='/'>About software</a>
        </h1>
        <h2>Short stories from my day to day</h2>
      </div>
      <div class='avatar'>
        <img src='/images/plagelao.jpg'>
      </div>
    </header>
    <div class='content'>
      {{ content }}
    </div>
    <footer>
      plagelao &copy; 2014
    </footer>
  </body>
</html>
