<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Alberto Peña Abril" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <link href="http://plagelao.github.com/atom.xml" rel="alternate" title="Alberto Peña Abril" type="application/atom+xml" />   
   <!-- Google analytics -->
   <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-11305746-3']);
     _gaq.push(['_trackPageview']);

     (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>
<body>


  <div class="site">
    <div class="header clearfix">
      <div class="title"><a href="/">El programador feliz</a></div>
      <div class="subtitle"> The happy programmer</div>
    </div>
    <div id="studygroups" class="studygroups">
      <h1>Study groups I am commited to: <a href="/SICP/">SICP</a> ~ <a href="/7languages7weeks/">7 languages in 7 weeks</a></h1>
    </div>

    {{ content }}

    <div class="footer clearfix">
      <div class="contact">
        <img class="portrait" src="/images/plagelao.jpg"/>
        <div class="title"><a href="/">a blog by Alberto Peña Abril</a></div>
        <div><a href="http://twitter.com/plagelao">twitter</a> ~ <a href="http://github.com/plagelao">github</a> ~ <a href='http://linkedin.com/in/albertopeab'>linkedin</a></div>
      </div>

    </div>
  </div>
</body>
</html>
