---
layout: default
---

%article{class: "{{ page.type}}" }
  %h2 {{ page.title }}
  %p.meta-data
    {{page.estimated_time}}
    \|
    {{ page.date | date: "%d %B %Y" }}
    \|
    %a{href: "/{{page.type}}"} {{ page.human_type }}
  .content
    {{ content }}
  .footer
    %p.meta-data {{page.author}}
