---
layout: default
---
%article{class: "{{ page.type}}" }
  %header
    {{ page.title }}
  %section
    {{ content }}
  %footer
    %p.meta-data
      %a{href: "/{{page.type}}"} {{ page.human_type }}
      \|
      {{ page.date | date: "%d %B %Y" }}
      \|
      {{page.estimated_time}}
    %a.read-more{href: "{{page.url}}"} Continue reading →
